<% @targets.each do |target| %>
	<h1> Choose from <%= target.body %> exercises:</h1>

		<%= @exercises.each do |e| %>
			<% if e.id == current_target.id %>
				<p>Title: <%= e.title %></p>
				<p>Description: <%= e.description %></p>
				<p>Duration: <%= e.duration %> </p>
			<% end %>
		<% end %>
<% end %>