<<<<<<< HEAD
<%= @target = Target.find(params[:target_id]) %>

<h3> <%= @target.body %> Exercises </h3>
<p>Title: <%= @exercise.title %></p>
<p>Description: <%= @exercise.description %></p>
<p>Duration: <%= @user.duration %> </p>
=======
<p>Title: <%= e.title %></p>
<p>Description: <%= e.description %></p>
<p>Duration: <%= e.duration %> </p>
>>>>>>> master
